@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

body {
  /* background-color: rgba(0, 0, 0, 1); */
  /* background-image: url("img/bg.jpg"); */
  background-image: url(../img/bg.jpg);
  margin: 0em;
  font-family: 'Lato', sans-serif;
  margin-bottom: 5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.holder {
  background-color: rgba(255, 255, 255, 0.6);
  width: 50%;
  margin-left: 25%;
  margin-top: 3em;
}

p {
  margin: 0em;
}

.smallCaption {
  font-size: 0.8em;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* flex-wrap: nowrap; */
}

.title {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.titleBox {
  margin-left: 2%;
  width: 47%;
  padding-left: 1em;
  padding-right: 1em;
}

hr {
  margin-left: 2em;
  margin-right: 2em;
}

.firstBox {
  /* border-radius: 10px; */
  width: 47%;
  /* float: left; */
  /* background-color: rgba(0, 0, 0, 0.1); */
  margin-left: 2%;
  /* margin-right: 3%; */
  padding: 1em;
  /* -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; */
}

#selectEnhancer input[type=text] {
  width: 100%;
}

#selectEnhancer select {
  /* width: 60%; */
  /* display: inline-block; */
  width: 15em;
}

.secondBox {
  /* border-radius: 10px; */
  width: 47%;
  /* float: left; */
  /* background-color: rgba(0, 0, 0, 0.1); */
  margin-right: 2%;
  padding: 1em;
  /* -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; */
}

.ingredients {
  margin-left: 2em;
}

.ingredients input {
  width: 40%;
}

.tags {
  margin-left: 2em;
}

input[type=text] {
  /* width: 100%; */
  padding: 3px 5px;
  margin: 3px 0;
  /* width: 100%; */
  box-sizing: border-box;
}

input[type=number] {
  padding: 3px 5px;
  /* margin: 3px 0; */
  box-sizing: border-box;
  width: 10em;
}

input[type=submit] {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 90%;
  margin-left: 3em;
  margin-bottom: 5em;
}

select {
  padding: 2px 10px;
  height: 2em;
  background-color: rgba(255, 255, 255, 1);
}