@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

body {
  /* background-color: rgba(0, 0, 0, 1); */
  /* background-image: url("img/bg.jpg"); */
  background-image: url(../img/bg.jpg);
  margin: 0em;
  font-family: 'Lato', sans-serif;
  /* margin-bottom: 5em; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.holder {
  background-color: rgba(255, 255, 255, 0.6);
  width: 50%;
  margin-left: 25%;
  margin-top: 3em;
  padding-bottom: 1em;
  padding-top: 0.5em;
}

p {
  margin: 0em;
}

h2 {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  /* margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; */
}

.button {
  /* width: 100%;
  text-align: center;
  margin-top: 1em;
  background-color: rgba(244, 236, 188, 0.8);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 10em; */
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  color: white;
  /* padding: 16px 32px; */
  text-decoration: none;
  /* margin: 4px 2px; */
  cursor: pointer;
  width: 90%;
  margin-left: 5%;
  /* margin-left: 3em; */
  /* margin-bottom: 5em; */
  text-align: center;
  font-size: 0.7em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-radius: 30em;
}

.smallCaption {
  font-size: 0.8em;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* flex-wrap: nowrap; */
}

.title {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.titleBox {
  margin-left: 5%;
  width: 47%;
  /* padding-left: 1em;
  padding-right: 1em; */
}

hr {
  margin-left: 5%;
  margin-right: 5%;
}

.firstBox {
  /* border-radius: 10px; */
  width: 44%;
  /* float: left; */
  /* background-color: rgba(0, 0, 0, 0.1); */
  margin-left: 5%;
  margin-right: 1%;
  /* margin-right: 3%; */
  padding-top: 1em;
  padding-bottom: 1em;
  /* -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; */
}

#selectEnhancer input[type=text] {
  width: 100%;
}

#selectEnhancer select {
  /* width: 60%; */
  /* display: inline-block; */
  width: 15em;
}

.secondBox {
  /* border-radius: 10px; */
  width: 46%;
  /* float: left; */
  /* background-color: rgba(0, 0, 0, 0.1); */
  margin-left: 1%;
  /* margin-right: 3%; */
  padding-top: 1em;
  padding-bottom: 1em;
  /* -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; */
}

.ingredients {
  margin-left: 5%;
}

.ingredients input {
  width: 40%;
}

.tags {
  margin-left: 5%;
}

.preparation {
  margin-left: 5%;
}

input[type=text] {
  /* width: 100%; */
  padding: 3px 5px;
  margin: 3px 0;
  /* width: 100%; */
  box-sizing: border-box;
}

input[type=number] {
  padding: 3px 5px;
  /* margin: 3px 0; */
  box-sizing: border-box;
  width: 10em;
}

input[type=submit] {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  color: white;
  padding: 16px 0px;
  text-decoration: none;
  cursor: pointer;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 1em;
  border-radius: 30em;
}

select {
  padding: 2px 10px;
  height: 5%;
  background-color: rgba(255, 255, 255, 1);
}