@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

body {
  /* background-color: rgba(0, 0, 0, 1); */
  /* background-image: url("img/bg.jpg"); */
  background-image: url(../img/bg.jpg);
  margin: 0em;
  font-family: 'Lato', sans-serif;
  margin-bottom: 5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.holder {
  background-color: rgba(255, 255, 255, 0.6);
  width: 60%;
  margin-left: 20%;
  margin-top: 3em;
  padding-top: 2em;
  padding-bottom: 2em;
  /* height: 38em; */
  /* text-align: center; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.button {
  width: 100%;
  text-align: center;
  margin-top: 1em;
  background-color: rgba(244, 236, 188, 0.8);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 10em;
}

p {
  font-size: 0.9em;
  margin-top: 0em;
  margin-bottom: 0em;
}

h3 {
  margin-top: 0em;
  margin-bottom: 0em;
}

h2 {
  margin-top: 0em;
  margin-bottom: 0em;
}

h4 {
  margin-top: 0em;
  margin-bottom: 0em;
  /* color: rgba(219, 189, 0, 1); */
  color: rgba(0, 0, 0, 1);
}

.smallCaption {
  font-size: 0.8em;
}

.smallerText {
  font-size: 0.8em;
  color: rgba(100, 100, 100, 1);
}

.eachTag {
  display: inline-block;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 1em;
  padding-right: 1em;
  margin-right: 0.4em;
  background-color: rgba(244, 236, 188, 0.8);
  border-radius: 20px;
  font-size: 0.8em;
}

.title {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 2%;
  /* margin-bottom: 1em; */
}

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
}

.recipe {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* height: 10em; */
  background-color: rgba(255, 255, 255, 1);
  border: 1px dashed #000000;
  border-radius: 10px;
  /* margin-bottom: 0.5em; */
  padding-top: 1em;
  padding-bottom: 1em;
}

.oneRow {
  width: 98%;
  margin-left: 2%;
  display: flex;
  flex-direction: row;
}

.leftBox {
  width: 59%;
  margin-right: 1%;
  display: flex;
  flex-direction: column;
  /* background-color: rgba(255, 255, 255, 0.5); */
}

.rightBox {
  width: 39%;
  margin-left: 1%;
  display: flex;
  flex-direction: column;
  /* background-color: rgba(255, 255, 255, 0.5); */
}

.verticalList {
  display: flex;
  flex-direction: column;
}

.eachVerticalBox {
  background-color: rgba(244, 236, 188, 0.8);
  width: 80%;
  margin-left: 10%;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  margin-bottom: 0.2em;
  padding-left: 5%;
}

.eachVerticalBox p {
  font-size: 0.8em;
}

.titleBox {
  width: 98%;
  margin-left: 2%;
  /* height: 27%; */
  background-color: rgba(255, 255, 255, 0.5);
}

.descriptionBox {
  width: 98%;
  margin-left: 2%;
  /* height: 67%; */
  background-color: rgba(255, 255, 255, 0.5);
}

.fiftyfiftyBox {
  width: 95%;
  margin-left: 2%;
  margin-right: 3%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
}

.servingsLevelBox {
  width: 98%;
  margin-left: 2%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
}

.innerLeftBox {
  width: 30%;
}

.innerRightBox {
  width: 70%;
}

hr {
  margin-left: 5%;
  margin-right: 5%;
}

#selectEnhancer input[type=text] {
  width: 100%;
}

#selectEnhancer select {
  /* width: 60%; */
  /* display: inline-block; */
  width: 15em;
}

input[type=text] {
  /* width: 100%; */
  padding: 3px 5px;
  margin: 3px 0;
  /* width: 100%; */
  box-sizing: border-box;
}

input[type=number] {
  padding: 3px 5px;
  /* margin: 3px 0; */
  box-sizing: border-box;
  width: 10em;
}

input[type=submit] {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 90%;
  margin-left: 3em;
  margin-bottom: 5em;
}

select {
  padding: 2px 10px;
  height: 2em;
  background-color: rgba(255, 255, 255, 1);
}